* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.header {
    padding-top: 20px;
    background: linear-gradient(-45deg, #8470FF, #7B68EE, #6A5ACD);
    background-size: 400% 400%;
    align-items: center;
    color: #ffffff;
}

.header .logo {
    font-size: 1.2em;
    text-align: center;
}

.header .logo h2 {
	display: inline;
	margin-right: 5px;
}

.header .logo i {
	font-size: 30px;
}

.header ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header ul li {
    padding: 10px 0;
    width: 15%;
    text-align: center;
}

.header ul .login-logout a {
	color: #ffffff;
	text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.header ul .login-logout a:hover {
   color: #BEBEBE;
}

.titulo {
	text-align: center;
	font-family: cursive;
}

.container-1 {
	padding: 10px;
	display: flex;
	flex: row;
	align-items: flex-start;
}

.container-1 div {
	margin: 10px;
	padding: 10px;
	flex: 30%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-1 .todo {
	background-color: #00BFFF;
}

.container-1 .doing {
	background-color: #FFD700;
}

.container-1 .done {
	background-color: #00FF7F;
}

.container-1 .todo button {
	border-radius: 20px;
	padding: 5px;
	border: none;
}
