* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.header {
    padding-top: 20px;
    background: linear-gradient(-45deg, #8470FF, #7B68EE, #6A5ACD);
    background-size: 400% 400%;
    align-items: center;
    color: #ffffff;
}

.header .logo {
    font-size: 1.2em;
    text-align: center;
}

.header .logo h2 {
	display: inline;
	margin-right: 5px;
}

.header .logo i {
	font-size: 30px;
}

.header ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header ul li {
    padding: 10px 0;
    width: 15%;
    text-align: center;
}

.header ul .login-logout a {
	color: #ffffff;
	text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.header ul .login-logout a:hover {
   color: #BEBEBE;
}

.opcoes-gerente {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.opcoes-gerente form {
	display: inline;
}

.opcoes-gerente form input[type="text"] {
	padding: 5px;
	border: 2px solid #000000;
}

.titulo {
	text-align: center;
	font-family: cursive;
}

.container-1 {
	padding: 10px;
	display: flex;
	flex: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.container-1 div {
	margin: 10px;
	padding: 10px;
	flex: 30%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-1 .todo {
	background-color: #00BFFF;
	box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
}

.container-1 .doing {
	background-color: #FFD700;
	box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
}

.container-1 .done {
	background-color: #00FF7F;
	box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
}

.form input[type="text"] {
	border-radius: 20px;
	border: none;
}

.form input[type="submit"] {
	padding: 1px;
	border-radius: 20px;
	border: none;
}

.form input[type="submit"]:hover {
	cursor: pointer;
}

.card {
	width: 100%;
	box-shadow: 0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2);
}

.card div {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0;
}

.card .links {
	display: flex;
	justify-content: flex-end;
}

.avanco {
	background: linear-gradient(-45deg, #8470FF, #7B68EE, #6A5ACD);
	padding: 5px;
	border-radius: 20px;
	color: #ffffff;
	text-decoration: none;
	margin-right: 10px;
}

.excluir {
	font-size: 1.5em;
	color: red;
}

.feito {
	font-size: 2em;
	color: #00FF7F;
}

.membros {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card-membro {
	padding: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 60%;
	background: linear-gradient(#B0E0E6, #ADD8E6, #B0C4DE);
	margin-bottom: 10px;
}

@media only screen and (max-width: 1050px) {
	.opcoes-gerente {
		justify-content: center;
	}
}

@media only screen and (max-width: 1002px) {
  	.container-1 .todo, .container-1 .doing, .container-1 .done {
		flex: 80%;
   	}
}

@media only screen and (max-width: 626px) {
	.opcoes-gerente form {
		text-align: center;
	}
	
  	.opcoes-gerente form label {
		display: none;
   	}
}